#puzzle {
    .animation {

    }

    .answered {

        .button-outline {
            color: #ff0000;
            outline-color: #ff0000;
            border-color: #ff0000;
        }

        &.isright {
            .button-outline {
                color: #00ff00;
                outline-color: #00ff00;
                border-color: #00ff00;
            }

            .option.answer {
                background-color: #00ff00;
            }
        }
    }

    .option {
        transition: background-color 0.3s ease 0s;
        background-color: #fff;

        &.picking {
            color: #fff;
            background-color: #0077ff;
        }

        &.answer {
            color: #fff;
            background-color: #ff0000;
        }
    }

    .button-outline {
        font-size: 22px;
        height: 66px;
        line-height: 64px;
        transition: opacity 0.3s ease;
        opacity: 1;

        &.active-state {
            color: #fff;
            background-color:#0077ff;
        }

        &.hide {
            opacity: 0;
        }
    }
}

#bingo {
    .bingo-grid {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%
        height: 100vw;

        .grid-y {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex: 1;
            justify-content: center;
            align-items: center;

            border-bottom: 1px solid gray;
            box-sizing: border-box;
        }

        .grid-x {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            flex: 1;
            text-align: center;
            height: 100%;

            border-right: 1px solid gray;
            box-sizing: border-box;

            >span {

            }
        }

        .grid-choice {
            padding: 14px 10px;
        }
    }
}


.full {
    padding: 0px;
    margin: 0px;
}
