@keyframes loading_bar{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@keyframes fade_in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#puzzle {
    .headline { white-space: normal; }
    .animation {
        opacity: 0;
        animation-name: fade_in;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }

    .answered {

        .button-outline {
            color: #ff0000;
            outline-color: #ff0000;
            border-color: #ff0000;
        }

        &.isright {
            // .button-outline {
            //     color: #00ff00;
            //     outline-color: #00ff00;
            //     border-color: #00ff00;
            // }

            // .option.answer {
            //     background-color: #00ff00;
            // }
        }
    }

    .option {
        transition: background-color 0.3s ease 0s;
        background-color: #fff;

        &.picking {
            color: #fff;
            background-color: #0077ff;
        }

        &.answer {
            color: #fff;
            background-color: #ff0000;
        }
    }

    .hasimg {
        .option {
            width: 50%;
            display: inline-block;

            .item-inner {
                justify-content: center;
            }

            .item-title {
                display: none;
            }

            .option-image {
                max-width: 98%;
                max-height: 98px;
            }
        }
    }

    .button-outline {
        font-size: 22px;
        height: 66px;
        line-height: 64px;
        transition: opacity 0.3s ease;
        opacity: 1;

        &.active-state {
            color: #fff;
            background-color:#0077ff;
        }

        &.hide {
            opacity: 0;
        }
    }

    .loading-bar {
        position: relative;
        height: 10px;
        border-radius: 5px;
        overflow: hidden;

        .bar {
            height: 10px;
            width: 100%;
            background-color: #007aff;
            animation-name: loading_bar;
            animation-duration: 7.5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

#bingo {
    .bingo-grid {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%
        height: 100vw;

        .grid-y {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex: 1;
            justify-content: center;
            align-items: center;

            border-bottom: 1px solid gray;
            box-sizing: border-box;
        }

        .grid-x {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            flex: 1;
            text-align: center;
            height: 100%;

            border-right: 1px solid gray;
            box-sizing: border-box;

            >span {

            }
        }

        .grid-choice {
            padding: 14px 10px;
        }
    }
}


.full {
    padding: 0px;
    margin: 0px;
}


#main-view {
    .navbar {
        color: #fff;
        background-color: #ff2d51;

        .link {
            color: #fff;
        }
    }

    .page-content {
        background-color: #fff2f4;
    }

    .list {
        background-color: #fff2f4;

        >ul {
            background-color: #fffbf2;
        }
    }

    .button-fill {
        font-size: 20px;
        height: 38px;
        line-height: 38px;
        background-color: #ff64ae;
        width: 60%;
        margin: 0px auto;
    }

    .home-list {
        margin-bottom: 5px;
    }
}
